/* Add CSS styles here to style the VoteSubmitted component */

.vote-submitted-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .vote-submitted-content {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .vote-submitted-content h2 {
    color: #009688;
  }
  
  .vote-submitted-content p {
    color: #333;
    margin-top: 10px;
  }
  
  /* Add more styles as needed */
  